.nav-container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding-block: 0.5rem;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 400px) {
  .nav-logo {
    display: none;
  }

  .nav-container {
    display: flex;
    padding-block: 1rem;
  }

  .nav-links {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
